node_modules
.devcontainer
.vscode
readme
tests
.dockerignore
.gitignore
.gitlab-ci.yml
docker-compose.yml
.pre-commit-config.yaml
.pypirc
coverage.xml
Frontend basic plan.png
generate_badges.py
Makefile
